name: build weaved

on:
  workflow_dispatch: {}

env:
  ARTIFACT_DIR: ResoniteModLoader/bin/Release/net10.0/

jobs:
  build:
    name: build-ubuntu
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - uses: actions/checkout@v6

      - name: Setup Resonite environment
        id: resonite
        uses: resonite-modding-group/setup-resonite-env-action@v0.2.0
        with:
          steam-user: ${{ secrets.STEAMUSER }}
          steam-password: ${{ secrets.STEAMPASS }}

      - name: Install dependencies
        run: dotnet restore

#BUILDING
      - name: Build
        run: dotnet build --configuration Release --no-restore ResoniteModLoader
        env:
          ResonitePath: ${{ steps.resonite.outputs.resonite-path }}/

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ResoniteModLoader
          path: "${{ env.ARTIFACT_DIR }}*"
          if-no-files-found: error

      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ env.ARTIFACT_DIR }}*.dll"

#WEAVING
      - name: Weave
        run: dotnet run --configuration Release --no-restore --project PluginWeaver -- "${{ env.ARTIFACT_DIR }}ResoniteModLoader.dll"
        env:
          ResonitePath: ${{ steps.resonite.outputs.resonite-path }}/

      - name: Upload Weaved
        uses: actions/upload-artifact@v4
        with:
          name: ResoniteModLoader Weaved
          path: "${{ env.ARTIFACT_DIR }}*"
          if-no-files-found: error

      - name: Attest Weaved
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ env.ARTIFACT_DIR }}*.dll"
