name: Build

on:
  workflow_dispatch: {}
  workflow_call: {}

env:
  ARTIFACT_DIR: ResoniteModLoader/bin/Release/net10.0/
  NUGET_DIR: ResoniteModLoader/bin/Release/

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - uses: actions/checkout@v6

      - name: Setup Resonite environment
        id: resonite
        uses: resonite-modding-group/setup-resonite-env-action@v0.2.0
        with:
          steam-user: ${{ secrets.STEAMUSER }}
          steam-password: ${{ secrets.STEAMPASS }}

      - name: Restore NuGet Package Cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget

      - name: Install dependencies
        run: dotnet restore

      - name: Save NuGet Package Cache
        if: ${{ github.event_name != 'pull_request' }}
        uses: actions/cache/save@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}

#BUILDING
      - name: Build
        run: dotnet build --configuration Release --no-restore ResoniteModLoader
        env:
          ResonitePath: ${{ steps.resonite.outputs.resonite-path }}/

      - name: ResoniteModLoader Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ResoniteModLoader
          path: "${{ env.ARTIFACT_DIR }}*"
          if-no-files-found: error

      - name: NuGet Artifact
        uses: actions/upload-artifact@v4
        with:
          name: NuGet Packages
          path: "${{ env.NUGET_DIR }}*.nupkg"
          if-no-files-found: error

      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ env.ARTIFACT_DIR }}*.dll"

#WEAVING
      - name: Weave
        run: dotnet run --configuration Release --no-restore --project PluginWeaver -- "${{ env.ARTIFACT_DIR }}ResoniteModLoader.dll"
        env:
          ResonitePath: ${{ steps.resonite.outputs.resonite-path }}/

      - name: Weaved ResoniteModLoader Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ResoniteModLoader Weaved
          path: "${{ env.ARTIFACT_DIR }}*"
          if-no-files-found: error

      - name: Attest Weaved
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ env.ARTIFACT_DIR }}*.dll"

  validate-nuget:
    name: Validate NuGet Package
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Restore NuGet Package Cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget

      - name: Install NuGet Validator
        run: dotnet tool update Meziantou.Framework.NuGetPackageValidation.Tool --global

      - name: Get NuGet Artifact
        uses: actions/download-artifact@v5
        with:
          name: NuGet Packages
          path: ${{ github.workspace }}/nupkgs

      - name: Validate
        run: meziantou.validate-nuget-package "${{ github.workspace }}/nupkgs/*.nupkg"
