name: Publish

on:
  push:
    tags:
      - "v*.*.*"

env:
  HARMONY_VERSION: "2.4.2"
  NUGET_REGISTRY_URL: https://api.nuget.org/v3/index.json

concurrency:
  group: "publish"
  cancel-in-progress: false

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release-github:
    name: GitHub Release
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Download Harmony
        run: curl -L https://www.nuget.org/api/v2/package/Lib.Harmony/${{ env.HARMONY_VERSION }} --output Lib.Harmony.nupkg

      - name: Get Weaved ResoniteModLoader Artifact
        uses: actions/download-artifact@v5
        with:
          name: ResoniteModLoader Weaved
          path: ${{ github.workspace }}/release

# Installer zip archive:
# /Libraries/ResoniteModLoader.dll
# /Libraries/ResoniteModLoader.xml
# /rml_libs/0Harmony.dll
# /rml_mods/
      - name: Build installer
        run: |
          mkdir -p installer/{Libraries,rml_libs,rml_mods}
          cp release/{*.dll,*.xml} installer/Libraries/
          unzip -p Lib.Harmony.nupkg lib/net10.0/0Harmony.dll > installer/rml_libs/0Harmony.dll
          cd installer
          zip ${{ github.workspace }}/ResoniteModLoader.zip *

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ github.workspace }}/release/*.dll
            ${{ github.workspace }}/release/*.xml
            ${{ github.workspace }}/ResoniteModLoader.zip
          generate_release_notes: true

  release-nuget:
    name: NuGet Release
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Get NuGet Artifact
        uses: actions/download-artifact@v5
        with:
          name: NuGet Packages
          path: ${{ github.workspace }}/nupkgs

      - name: Publish package to registry
        run: dotnet nuget push "${{ github.workspace }}/nupkgs/*.nupkg" --api-key "${{ secrets.NUGET_APIKEY }}" --source "${{ env.NUGET_REGISTRY_URL }}"
